@import "../../css/Variables.scss";
@import "../../css/Mixins.scss";

.modal-button {
  position: fixed;
  right: 5rem;
  bottom: 5rem;
  height: 75px;
  width: 75px;
  border-radius: 100%;
  background-color: $primary-cta-hover;

  & img {
    width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.modal-label {
  @include font-family(AvenirDemiBold);
  @include font-line(1.4rem, 2.2rem);
  color: gray;
}

.modal-stock-label {
  @include font-family(AvenirRegular);
  font-size: 14px;
  color: black;
  margin-right: 100px;
}

.modal-input {
  @include font-family(AvenirRegular);
  @include font-line(1.3rem, 1.8rem);
  @include media-font(550px, 1.4rem, 2.2rem);
  width: 100%;
  border: solid 1px rgba($color: #000000, $alpha: 0.2);
  background-color: rgba($color: #000000, $alpha: 0.01);
  border-radius: 4px;
  height: 48px;
  padding-left: 1rem;
  font-size: 14px;
}

.modal-desc-input {
  @include font-family(AvenirRegular);
  @include font-line(1.3rem, 1.8rem);
  @include media-font(550px, 1.4rem, 2.2rem);
  width: 220px;
  border: solid 1px rgba($color: #000000, $alpha: 0.2);
  background-color: rgba($color: #000000, $alpha: 0.01);
  border-radius: 4px;
  height: 80px;
  padding-left: 1rem;
  font-size: 14px;
  width: 100%;
}

.modal-buttons {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  margin-top: 40px;
}

.modal-save {
  @include font-family(AvenirDemiBold);
  @include font-line(1.3rem, 1.8rem);
  @include media-font(550px, 1.4rem, 2.2rem);
  color: white;
  text-transform: uppercase;
  border-radius: 4px;
  background: $primary-cta;
  height: 4.8rem;
  background: $primary-cta-hover;
  width: 100%;
  margin-left: 0px;
  font-size: 16px;
}

.modal-cancel {
  height: 48px;
  color: $primary-cta-hover;
  font-weight: 900;
  background-color: white;
  font-size: 16px;
}

.modal {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70vw;
  padding: 32px 0px 0px 0px;

  &__title {
    @include font-family(AvenirBold);
    @include font-line(2.4rem, 3.2rem);
    @include media-font(550px, 3.6rem, 4.4rem);
    font-weight: 200px;
    color: #323232;
    margin-bottom: 32px;
  }

  &__row1 {
    display: flex;
    flex-direction: column;
    // flex: 1 0 auto;
    // flex-wrap: wrap;
    margin-bottom: 24px;
    justify-content: space-between;
    width: 100%;

    &__product {
      display: flex;
      flex-direction: column;
      margin-bottom: 24px;
      // width: 220px;
      // margin-right: 40px;

      &__last-ordered {
        display: flex;
        flex-direction: column;
        // width: 220px;
        // margin-right: 40px;
      }
    }
  }

  &__row2 {
    display: flex;
    flex-direction: column;
    // flex: 1 0 auto;
    // flex-wrap: wrap;
    margin-bottom: 24px;
    justify-content: space-between;
    width: 100%;

    &__city {
      display: flex;
      flex-direction: column;
      margin-bottom: 24px;
      // width: 220px;
      // margin-right: 40px;
    }

    &__country {
      display: flex;
      flex-direction: column;
      // width: 220px;
      // margin-right: 40px;
    }
  }

  &__row3 {
    display: flex;
    flex-direction: column;
    // flex: 1 0 auto;
    // flex-wrap: wrap;
    margin-bottom: 24px;
    justify-content: space-between;
    width: 100%;

    &__quantity {
      display: flex;
      flex-direction: column;
      margin-bottom: 24px;
      // width: 220px;
      // margin-right: 40px;
    }

    &__switch {
      display: flex;
      flex-direction: column;
      // width: 220px;
      // margin-right: 40px;
    }

    &__switch-stock {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 48px;
      width: 100%;
      justify-content: space-between;
      padding-right: 3rem;
    }
  }

  &__row4 {
    display: flex;
    flex-direction: column;
    widows: 100%;
  }
}

////-------------------------------------------------------------
////-------------------------------------------------------------
////----------------------T A B L E T----------------------------
////-------------------------------------------------------------
////-------------------------------------------------------------

@media #{$Tablet} {

.ReactModal__Content {
  width: 90vw;
  height: 750px;
}

  .modal-button {
    position: fixed;
    right: 5rem;
    bottom: 5rem;
    height: 75px;
    width: 75px;
    border-radius: 100%;
    background-color: $primary-cta-hover;

    & img {
      width: 50%;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .modal-label {
    @include font-family(AvenirDemiBold);
    @include font-line(1.4rem, 2.2rem);
    color: gray;
  }

  .modal-stock-label {
    @include font-family(AvenirRegular);
    font-size: 14px;
    color: black;
    margin-right: 75px;
    width: 200px;;
  }

  .modal-input {
    @include font-family(AvenirRegular);
    @include font-line(1.3rem, 1.8rem);
    @include media-font(550px, 1.4rem, 2.2rem);
    width: 80%;
    border: solid 1px rgba($color: #000000, $alpha: 0.2);
    background-color: rgba($color: #000000, $alpha: 0.01);
    border-radius: 4px;
    height: 48px;
    padding-left: 1rem;
    font-size: 14px;
  }

  .modal-desc-input {
    @include font-family(AvenirRegular);
    @include font-line(1.3rem, 1.8rem);
    @include media-font(550px, 1.4rem, 2.2rem);
    width: 220px;
    border: solid 1px rgba($color: #000000, $alpha: 0.2);
    background-color: rgba($color: #000000, $alpha: 0.01);
    border-radius: 4px;
    height: 80px;
    padding-left: 1rem;
    font-size: 14px;
    width: 90%;
  }

  .modal-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 40px;
    width: 90%; 
  }

  .modal-save {
    @include font-family(AvenirDemiBold);
    @include font-line(1.3rem, 1.8rem);
    @include media-font(550px, 1.4rem, 2.2rem);
    color: white;
    text-transform: uppercase;
    border-radius: 4px;
    background: $primary-cta;
    height: 4.8rem;
    background: $primary-cta-hover;
    width: 160px;
    font-size: 16px;
    margin-left: 48px;
  }

  .modal-cancel {
    height: 48px;
    color: $primary-cta-hover;
    font-weight: 900;
    background-color: white;
    font-size: 16px;
  }

  .modal {
    display: flex;
    flex-direction: column;
    height: 624px;
    width: 80vw;
    padding: 32px 0 0 0;
    margin: 0 auto;

    &__title {
      @include font-family(AvenirBold);
      @include font-line(2.4rem, 3.2rem);
      @include media-font(550px, 3.6rem, 4.4rem);
      font-weight: 200px;
      color: #323232;
      margin-bottom: 48px;
      width: 80%;
    }

    &__row1 {
      display: flex;
      flex-direction: row;
      margin-bottom: 24px;
      width: 100%;

      &__product {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        width: 50%;
      }

      &__last-ordered {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        width: 50%;
      }
    }

    &__row2 {
      display: flex;
      flex-direction: row;
      margin-bottom: 24px;
      width: 100%;

      &__city {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        width: 50%;
      }

      &__country {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        width: 50%;
      }
    }

    &__row3 {
      display: flex;
      flex-direction: row;
      margin-bottom: 24px;
      width: 100%;

      &__quantity {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        width: 50%;
      }

      &__switch {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        width: 50%;
      }

      &__switch-stock {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: 48px;
        width: 220px;
      }
    }

    &__row4 {
      display: flex;
      flex-direction: column;
      widows: 100%;
    }
  }
}

////-----------------------------------------------------------------------------
////-----------------------------------------------------------------------------
////-----------------------------DESKTOP-----------------------------------------
////-----------------------------------------------------------------------------
////-----------------------------------------------------------------------------

@media #{$Desktop} {

  .ReactModal__Content {
    width: 50vw;
    height: 750px;
  }

  .modal-button {
    position: fixed;
    right: 5rem;
    bottom: 5rem;
    height: 75px;
    width: 75px;
    border-radius: 100%;
    background-color: $primary-cta-hover;

    & img {
      width: 50%;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .modal-label {
    @include font-family(AvenirDemiBold);
    @include font-line(1.4rem, 2.2rem);
    color: gray;
  }

  .modal-stock-label {
    @include font-family(AvenirRegular);
    font-size: 14px;
    color: black;
    margin-right: 100px;
  }

  .modal-input {
    @include font-family(AvenirRegular);
    @include font-line(1.3rem, 1.8rem);
    @include media-font(550px, 1.4rem, 2.2rem);
    width: 220px;
    border: solid 1px rgba($color: #000000, $alpha: 0.2);
    background-color: rgba($color: #000000, $alpha: 0.01);
    border-radius: 4px;
    height: 48px;
    padding-left: 1rem;
    font-size: 14px;
  }

  .modal-desc-input {
    @include font-family(AvenirRegular);
    @include font-line(1.3rem, 1.8rem);
    @include media-font(550px, 1.4rem, 2.2rem);
    width: 220px;
    border: solid 1px rgba($color: #000000, $alpha: 0.2);
    background-color: rgba($color: #000000, $alpha: 0.01);
    border-radius: 4px;
    height: 80px;
    padding-left: 1rem;
    font-size: 14px;
    width: 100%;
  }

  .modal-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
  }

  .modal-save {
    @include font-family(AvenirDemiBold);
    @include font-line(1.3rem, 1.8rem);
    @include media-font(550px, 1.4rem, 2.2rem);
    color: white;
    text-transform: uppercase;
    border-radius: 4px;
    background: $primary-cta;
    height: 4.8rem;
    background: $primary-cta-hover;
    width: 160px;
    font-size: 16px;
    margin-left: 48px;
  }

  .modal-cancel {
    height: 48px;
    color: $primary-cta-hover;
    font-weight: 900;
    background-color: white;
    font-size: 16px;
  }

  .modal {
    display: flex;
    flex-direction: column;
    height: 624px;
    width: 576px;
    padding: 36px 28px 20px 28px;

    &__title {
      @include font-family(AvenirBold);
      @include font-line(2.4rem, 3.2rem);
      @include media-font(550px, 3.6rem, 4.4rem);
      font-weight: 200px;
      color: #323232;
      margin-bottom: 48px;
    }

    &__row1 {
      display: flex;
      flex-direction: row;
      // flex: 1 0 auto;
      // flex-wrap: wrap;
      margin-bottom: 24px;
      justify-content: space-between;
      width: 100%;

      &__product {
        display: flex;
        flex-direction: column;
        // width: 220px;
        // margin-right: 40px;
      }

      &__last-ordered {
        display: flex;
        flex-direction: column;
        // width: 220px;
        // margin-right: 40px;
      }
    }

    &__row2 {
      display: flex;
      flex-direction: row;
      // flex: 1 0 auto;
      // flex-wrap: wrap;
      margin-bottom: 24px;
      justify-content: space-between;
      width: 100%;

      &__city {
        display: flex;
        flex-direction: column;
        // width: 220px;
        // margin-right: 40px;
      }

      &__country {
        display: flex;
        flex-direction: column;
        // width: 220px;
        // margin-right: 40px;
      }
    }

    &__row3 {
      display: flex;
      flex-direction: row;
      // flex: 1 0 auto;
      // flex-wrap: wrap;
      margin-bottom: 24px;
      justify-content: space-between;
      width: 100%;

      &__quantity {
        display: flex;
        flex-direction: column;
        // width: 220px;
        // margin-right: 40px;
      }

      &__switch {
        display: flex;
        flex-direction: column;
        // width: 220px;
        // margin-right: 40px;
      }

      &__switch-stock {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: 48px;
        width: 220px;
      }
    }

    &__row4 {
      display: flex;
      flex-direction: column;
      widows: 100%;
    }
  }
}
