.warehouse {
  @extend %padding--mobile;
  @extend %padding--tablet;
  @extend %padding--desktop;

  &__header {
    display: flex;
    flex-direction: column;
    margin-top: 3.2rem;

    @media #{$Tablet} {
      flex-direction: row;
      align-items: center;
      margin-top: 4.8rem;
      margin-bottom: 2.4rem;

    }
  }

  &__title {
    @extend %header-section;
    margin-bottom: 1.6rem;

    @media #{$Tablet} {
      // margin-top: 4.8rem;
      margin-bottom: 0;
    }
  }

&__search {
    @extend %paragraph-regular;
    @include media-max-width(Mobile, 3.25, 3);

    background: url('../../assets/Icons/SVG/Icon-search.svg'), $text-field-bg-fill;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 16px;
    
    color: $paragraph-text;
    border: 1px solid $field-border;
    height: 4.9rem; 
    padding: 16px 0 16px 40px;
    margin-bottom: 0.8rem;
    border-radius: 4px;

    &::placeholder {
      color: $paragraph-text;
      opacity: 1;
    }

    &:focus {
      border: 3px solid $primary-cta;
    }

    @media #{$Tablet} {
      width: 190px;
      margin-left: auto;
      margin-bottom: 0;
      height: 4.8rem;
      // margin-top: 4.8rem;
    }

    @media #{$Desktop} {
      width: 252px;
    }
  } //End of search bar styling

  &__label-container {
    display: none;
    @extend %paragraph-label;
    color: grey;

    @media #{$Desktop} {
      
    }
  }

  &__label {
    @extend %paragraph-label;
    color: grey;
  }
  
  &__list {
    justify-content: space-between;

    @media #{$Desktop} {
      // max-width: percentage(80.4rem / 108.0rem);

    }
  }
}

  #W0 .warehouse__label-container {
    display: none;
    @media #{$Desktop} {
    padding-bottom: 3.2rem;
    display: flex;
    }

  }

